
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Quiz App</a>
    </div>
    <div class="collapse navbar-collapse">
    </div><!--/.nav-collapse -->
  </div>
</div>
<div ng-controller="QuizCtrl as quiz">
  <div ng-hide='gameStarted' class="jumbotron">
    <h2>Click on the magical button to start the quiz!</h2>
  <button  class="btn btn-primary btn-lg" ng-click="start()">Start Quiz!</button>
  </div>
  <div ng-show='gameStarted' class="container">
    <div class="jumbotron question">
      <div style="float:left;">
        <strong>Score:</strong> {{score}}
      </div>
      <br>
       <div style="float:left;">
        <strong>Timer:</strong> {{timer}}
      </div>
      <ul id='question-list'>
        <li ng-repeat="question in quiz | orderBy:'difficulty'">


          <div ng-controller="QuestionCtrl">
            <strong>{{$index+1}}. {{question.q}}</strong>
            <form name="myForm" ng-submit="submit()">
              <ul>
                <li ng-repeat="option in question.options">
                  <label>
                    <input ng-model="question.input" type="radio" name="{{question.answer}}" value="{{option.value}}">
                    {{option.value}}
                  </label>
                </li>
              </ul>
              <button ng-disabled="myForm.$invalid" type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>


        </li>
      </ul>
      <div ng-controller="NewquestionCtrl">
        <h2>New Question</h2>
        <form name="myForm2" ng-submit="addQuestion()">
          Question: <input ng-model="txtNewQuestion" type="text" style="margin: 5px 0px"><br>

          <li ng-repeat="option in qOptions">
            Option {{option.id}}: <input ng-model="option.value" type="text" style="margin: 5px 0px">
            <input type="radio" ng-model="option.isChecked" >
          </li>
          <br>
          <button type="button" name="addOption" ng-click="addOption()">Add option</button>
          <br>
          Difficulty: <input type="number" ng-model="difficultyInput">

          <button name="addQuestion" type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>
    </div>

  </div><!-- /.container -->
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<!--<script src="../../dist/js/bootstrap.min.js"></script>-->
